### Maven ###
./*/target/
./*/log/
*.class 

!.mvn/wrapper/maven-wrapper.jar

### STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache
*.DS_Store
*.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Mac ###
*.DS_Store

